
@{
    ViewData["Title"] = "About";

    if (StaticFields.IsUser)
        Layout = "~/Views/Shared/_Layout2.cshtml";
    else
        Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>About</h1>*@

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Joice</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,500,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/Home.css" />
</head>

<body class="sub_page">


    <!-- about section -->
    @*<section class="blog_section layout_padding">*@
        @*<div class="container">*@
            <!--<div class="heading_container">
                <h2>
                    <span>
                        About
                    </span>
                </h2>
            </div>-->
            @*</div>*@
        @*</section>*@
            <section class="contact_section layout_padding">
                <div class="container">
                    <div class="about_container">
                        <div class="row">
                            <div class="col-lg-7 col-md-6 ">
                                @*<div class="detail-box">*@
                                <div class="heading_container">
                                    <h2>
                                        <span>
                                            About
                                        </span>
                                    </h2>
                                </div>
                                <div class="mt-5">
                                    <p>
                                        The "Katzefet" ice cream parlor is the leading ice cream brand in Israel for the past decade, which is also gaining momentum in the world. This brand has been winning competitions in the field for ten years in a row and the hand is still outstretched.
                                        Many tourists who come to the country have already heard about our ice cream parlor so this is a great reason to open an accessible and convenient website for remote bookings all over the country even during the Corona period.
                                        In our ice cream parlor you will find an "amusement park" of flavors and sweet pleasure for the palate that can not be described in words, a large selection of cream ice creams, gourmet sorbet, fur ice creams and sugar-free ice creams.
                                        We specialize in making ice cream in a selection of special flavors and types, flavors made from 100% ice cream, including special decorations, unique dedications in a variety of flavors and sizes!
                                        The chain boasts a mehadrin kosher on behalf of the "Hatam Sofer" department - Bnei Brak for all its products.
                                    </p>
                                    <a href="https://en.wikipedia.org/wiki/Ice_cream
">
                                        Read More
                                    </a>
                                    @*</div>*@
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6">
                                <div class="mt-5">
                                    <div class="img-box">
                                        <img src="~/images/history_new.png" alt="">
                                    </div>
                                </div>

                            </div>
                    </div>
                        </div>

                </div>
            </section>

            <!-- end about section -->



            <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
            <script type="text/javascript" src="js/bootstrap.js"></script>

</body>