<div class="layout_padding">
    <div class="row">
        <div class="col-md-6 ">
            <form action="">
                <div class="contact_form-container">
                    <div>
                        <div>
                            <input type="text" placeholder="Name" />
                        </div>
                        <div>
                            <input type="number" placeholder="Phone Number" />
                        </div>
                        <div>
                            <input type="email" placeholder="Email" />
                        </div>
                        <div>
                            <input type="text" placeholder="Street" />
                        </div>
                        <div>
                            <input type="text" placeholder="City" />
                        </div>
                        <div>
                            <input type="number" placeholder="House Number" />
                        </div>
                        <div>
                            <input type="search" placeholder="Ice cream" />
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="box">
                                    <div>
                                        <button type="reset">
                                            אפס
                                        </button>
                                    </div>
                                    <div>
                                        <button type="submit">
                                            Send
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-md-6">
            <div class="btn-img">
                <img src="~/images/tenbis.jpg" alt="">
            </div>
        </div>
    </div>
</div>