@model project.Models.Order

@{
    ViewData["Title"] = "Create";

    if (StaticFields.IsUser)
        Layout = "~/Views/Shared/_Layout2.cshtml";
    else
        Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ var data = (List<Flavors>)ViewData["Message"];<!--for combo box of flavors--> }
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Home.css" />
</head>

<div>
    <section class="contact_section layout_padding">
        @*<div class="bg-img">
            <img src="~/images/contact-bg.png" alt="">
        </div>*@
        <div class="container">
            <div class="heading_container">
                <div class="row">
                    <h2>
                        <span>
                            Create Order
                        </span>
                    </h2>
                </div>
            </div>
            <div class="layout_padding">
                <div class="row">
                    <div class="col-md-6">
                        <form asp-action="Create">
                            <div class="contact_form-container">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    @*<label asp-for="Name" class="control-label"></label>*@
                                    <input asp-for="Name" class="form-control" type="text" placeholder="Name" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    @*<label asp-for="PhoneNumber" class="control-label"></label>*@
                                    <input asp-for="PhoneNumber" class="form-control" type="number" placeholder="Phone Number" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    @*<label asp-for="Email" class="control-label"></label>*@
                                    <input asp-for="Email" class="form-control" type="email" placeholder="Email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    @*<label asp-for="Street" class="control-label"></label>*@
                                    <input asp-for="Street" class="form-control" type="text" placeholder="Street" />
                                    <span asp-validation-for="Street" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    @*<label asp-for="City" class="control-label"></label>*@
                                    <input asp-for="City" class="form-control" type="text" placeholder="City" />
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    @*<label asp-for="HouseNumber" class="control-label"></label>*@
                                    <input asp-for="HouseNumber" class="form-control" type="number" placeholder="House Number" />
                                    <span asp-validation-for="HouseNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    @*<label asp-for="IceCream" class="control-label"></label>*@
                                    <select asp-for="IceCream" class="form-control">

                                        @foreach (var item in data)
                                        {
                                            <option value=@item.Name>@item.Name</option>
                                        }
                                    </select>
                                    <span asp-validation-for="IceCream" class="text-danger"></span>
                                </div>

                                @*<div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>*@

                                @*<div>
                                    <button type="submit" style="background-color: #ad927e; font-size:large">
                                        Create
                                    </button>
                                </div>*@
                                <div class="form-group">
                                    <input type="submit" value="Create" style="background-color: #ad927e; font-size:large" class="btn btn-primary" />
                                </div>

                                @if (ViewBag.Data != null)
                                {
                                    <script type="text/javascript">
                                window.onload = function () {
                                 alert("@ViewBag.Data");
                            };
                                    </script>
                                }


                            </div>
                        </form>
                    </div>
                    @*<div class="col-md-6">
                        <div class="detail_box">
                            <img src="~/images/OrderHere1.png">
                        </div>
                    </div>*@

                </div>
            </div>
        </div>
    </section>
</div>
    @*<div>
            <a asp-action="Index">Back to List</a>
        </div>*@

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
