
@{
    ViewData["Title"] = "Graph";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Graph</h1>
<html>
@*<head>
    <meta charset="utf-8" />
    <title></title>
</head>*@
<body>
    <form action="ShowGraph" method="get">
        <input type="date" name="date1" />
        <input type="date" name="date2" />
        <input type="submit" value="חפש" />
    </form>
</body>
</html>

